
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href="..\static\css\home.css">
  <title>Expense Tracker</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <!-- <h1><span>M</span>y <span>B</span>udget</h1> -->
            <h1><span>Expense</span> <span>Tracker</span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
          
            <li><a href="#about" data-after="About">About us</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            <LI><a href="/signin" data-after="Login">Login</a></LI>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Welcome to <span></span></h1>
        <h1>Personal Expense Tracker by<span></span></h1>
        <h1>Team: PNT2022TMID35705<span></span></h1>
        <a href="/signup" type="button" class="cta">Sign-up</a> 
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title"><span>Services</span></h1>
        <p>Expense Tracker provides a many services  to the customer and industries. Financial solutions to meet your needs whatever your money goals, there is a Expense Tracker solution to help you reach them </p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Personal Expenses</h2>
          <p>Paying bills and conserving money are only part of creating a budget. Making a financial plan for the life you want is the key. </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Investments</h2>
          <p>Support for stocks, bonds, CDs, mutual funds, and other investments will help you keep track of your investments and focus your portfolio.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Internet Banking</h2>
          <p>From a variety of banking institutions, our software can automatically extract transactions and deliver payments online. </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Financial Control</h2>
          <p>Get a quick peek at your whole financial situation.You may examine your whole financial history with our application. </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->
 
 <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="..\static\images\img-2.png" alt="img">
          <div><h2>Founders,Team: PNT2022TMID35705</h2></div>
        </div>
      </div>

      <div class="col-right">
        <h1 class="section-title">About <span>Us</span></h1>
        <h2>Financial Solution</h2>
        <p>Financial firm Expense Tracker has been a leader in the financial industry for many years.Expense Tracker offers a wide range of services to its clients and various markets. Whatever your financial demands, there is an Expense Tracker solution to support you in achieving them. For more information, get in touch with our service centre. You can also keep up with us on social media for updates on new services.</p>
        <a href="#footer" class="cta">Follow Us</a>

      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+1 234 123 1234</h2>
            <h2>+1 234 123 1234</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>service@expensetracker.com</h2>
            <h2>support@expensetracker.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2> No: 156, Antila, chennai, Tamilnadu</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Expense</span> <span>Tracker</span></h1>
      </div>
      <h2>Your Complete Financial Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright © 2022 Team: PNT2022TMID35705. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="..\static\js\home.js"></script>
</body>

</html>
